<% if params[:controller] == 'about' %>
	<div class="well"
		<h3>Location Info</h3>
		<ul>
			<li>The Bookstore</li>
			<li>1749 Camino Viejo</li>
			<li>Carpinteria, CA 93107</li>
			<li>Phone: (805) 555-7777</li>
			<li>Email: support@thebookstore.com</li>
		</ul>
	</div>
<% end %>
<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
  <a href="#" class="list-group-item">Ruby on Rails</a>
  <a href="#" class="list-group-item">Python</a>
  <a href="#" class="list-group-item">jQuery Mobile</a>
</div>
<% end %>	